/* Global variables for default colors */
:root {
    --hover-color: black;
    --board-color: bisque;
    --border-color: black;
}

h1 {
    text-align: center;
}

body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

#main {
    font-size: 17px;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
    align-items: center;
}

#board {
    border: 5px solid var(--border-color);
    padding: 5px;
    background-color: var(--board-color);
}

button {
    width: 40px;
    height: 40px;
    font-size: 0px;
    border-style: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: transparent;
}

.cell-button:hover {
    background-color: var(--hover-color);
    opacity: 1;
}

#myTable {
    width: 50px;
    background-color: var(--board-color);
    border: 5px solid ;
    padding: 0px;
    border-collapse: collapse;
}

#myTable td {
    padding: 0px;
    background-image: url("grid.svg");
    background-position: center;
}

#instructions {
    white-space: pre;
    padding-left: 0px;
    padding-right: 70px;
}