/* Global variables for default colors */
:root {
    --border-color: #000000;
    --bg: black;

    --p1TimerBGcolor: bisque;
    --p1Bordercolor: bisque;
    --p2TimerBGcolor: bisque;
    --p2Bordercolor: bisque;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #29435b;
    color: white;
}

button {
    width: 40px;
    height: 40px;
    font-size: 0;
    border-style: none;
    border-radius: 25px;
    color: blue;
    cursor: pointer;
    background-color: transparent;
}

.cell-button:hover {
    background-color: var(--bg);
    opacity: 50%;
    border: 2px solid aqua;
}

.cell-button:disabled {
    pointer-events: none;
}

#myTable {
    width: 50px;
    background: linear-gradient(to right bottom, #c78657, #ca7d46, #bb6a3b, #bb6a3b, #ca7d46, #c78657);
    border: 5px solid var(--border-color);
    padding: 0;
    border-collapse: collapse;
}
#myTable td {
    padding: 0;
    background-image: url("grid.svg");
    background-position: center;
}

/* #myTable background color span shrinks if tried to rotate the images with absolute positioning. Using rotated duplicated images as a band-aid solution*/
#myTable tr:first-child td{
    background-image: url("edge.svg");
}
#myTable td:first-child {
    background-image: url("edge-e.svg");
}
#myTable tr:last-child td {
    background-image: url("edge-s.svg");
}
#myTable td:last-child {
    background-image: url("edge-w.svg");
}

#myTable tr:first-child td:first-child{
    background-image: url("corner.svg");
}
#myTable tr:first-child td:last-child{
    background-image: url("corner-3.svg");
    position: absolute;
    rotate: 180deg;
}
#myTable tr:last-child td:last-child{
    background-image: url("corner.svg");
    position: absolute;
    rotate: 180deg;
}
#myTable tr:last-child td:first-child{
    background-image: url("corner-3.svg");
}

h1 {
    font-family: Impact, Arial, Helvetica, sans-serif;
    text-align: center;
}

#main {
    font-size: 17px;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
    align-items: center;
}

/* Board to simulate Gomoku board */
#board {
    border-radius: 7px;
    padding: 10px;
    background: linear-gradient(to right bottom,#ce8b5c, #bd7b4d, #ca7340, #ca7340, #ad7044, #ce8b5c);
}
#p1timer {
    background: var(--p1TimerBGcolor);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 50px;
    height: 50px;
    width: 120px;
    color: aqua;
    border: 2px solid var(--p1Bordercolor);
}

#p2timer {
    background: var(--p2TimerBGcolor);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 50px;
    height: 50px;
    width: 120px;
    color: aqua;
    border: 2px solid var(--p2Bordercolor);
}

#restartButton {
    height: 50px;
    width: 120px;
    font-size: 20px;
}

/* Instructions text under table */
#instructions {
    white-space: pre-wrap;
    margin-left: auto;
    margin-right: auto;
}